<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Resizer and Cropper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" />
</head>
<body>

<div class="navbar">
    <img src="{{ url_for('static', filename='images/logo.jpeg') }}" alt="Logo" class="logo">
    <ul>
        <li><a href="{{ url_for('home') }}" class="{{ 'active' if active_page == 'home' else '' }}">Resize Image</a></li>
        <li><a href="{{ url_for('crop_image') }}" class="{{ 'active' if active_page == 'crop_image' else '' }}">Crop Image</a></li>
        <li><a href="{{ url_for('image_compress') }}" class="{{ 'active' if active_page == 'image_compress' else '' }}">Image Compressor</a></li>
        <li><a href="{{ url_for('rotate_image') }}" class="{{ 'active' if active_page == 'rotate_image' else '' }}">Rotate Image</a></li>
    </ul>
</div>

<!-- Crop Image Section -->
<div class="container">
    <h1>Crop Image</h1>
    <form id="cropForm" action="/crop_image" method="POST">
        <div class="upload-box" onclick="document.getElementById('crop-file-input').click();">
            <input type="file" id="crop-file-input" name="cropImage" accept="image/*" required style="display:none;">
            <p id="file-name-text">Click to upload an image</p> 
        </div>
        <div id="crop-container">
            <img id="image-to-crop" style="max-width: 100%; display: none;">
        </div>
        <input type="hidden" id="croppedImageData" name="croppedImageData">
        <button type="button" id="crop-button">Crop Image</button>
    </form>

    <!-- Cropped Image Display -->
    <div id="cropped-image-container" style="display: none;">
        <h2>Cropped Image</h2>
        <img id="cropped-image" style="max-width: 100%;">
        <a id="download-cropped" href="" download="cropped_image.png">
            <button type="button" >Download Cropped Image</button>
        </a>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
<script src="{{ url_for('static', filename='js/crop_script.js') }}"></script>
</body>
</html>
