<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <ul>
            <li><a href="{{ url_for('home') }}" class="{{ 'active' if active_page == 'home' else '' }}">Resize Image</a></li>
            <li><a href="{{ url_for('crop_image') }}" class="{{ 'active' if active_page == 'crop_image' else '' }}">Crop Image</a></li>
            <li><a href="{{ url_for('image_compress') }}" class="{{ 'active' if active_page == 'image_compress' else '' }}">Image Compressor</a></li>
            <li><a href="{{ url_for('rotate_image') }}" class="{{ 'active' if active_page == 'rotate_image' else '' }}">Rotate Image</a></li>
        </ul>
    </div>

    <div class="container">
        <h1>Image</h1>
        <img src="{{ image_url }}" alt="Processed Image" style="max-width: 100%;">
        <a href="{{ url_for('download_image', filename=filename) }}">
            <button>Download Image</button>
        </a>
    </div>
</body>
</html>
