<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Compressor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
</head>
<body>
<!-- Navbar -->
<div class="navbar">
    <img src="{{ url_for('static', filename='images/logo.jpeg') }}" alt="Logo" class="logo">
    <ul>
        <li><a href="{{ url_for('home') }}" class="{{ 'active' if active_page == 'home' else '' }}">Resize Image</a></li>
        <li><a href="{{ url_for('crop_image') }}" class="{{ 'active' if active_page == 'crop_image' else '' }}">Crop Image</a></li>
        <li><a href="{{ url_for('image_compress') }}" class="{{ 'active' if active_page == 'image_compress' else '' }}">Image Compressor</a></li>
        <li><a href="{{ url_for('rotate_image') }}" class="{{ 'active' if active_page == 'rotate_image' else '' }}">Rotate Image</a></li>
    </ul>
</div>
<div class="container">
    <h1>Image Compressor</h1>
    <form action="/image_compress" method="POST" enctype="multipart/form-data">
        <div class="upload-box" id="upload-box" onclick="document.getElementById('file-input').click();">
            <input type="file" id="file-input" name="image" accept="image/*" required style="display:none;">
            <p id="file-name-text">Click to upload an image</p> 
        </div>
        <div class="size-inputs">
            <label for="size">Enter target size (KB):</label>
            <input type="number" id="size" name="size" required><br>
        </div>
        <button type="submit">Compress Image</button>
    </form>

    <!-- Conditional display based on the existence of a compressed image -->
    {% if image_url %}
    <div class="image-display">
        <h2>Compressed Image:</h2>
        <img src="{{ image_url }}" style="max-width: 100%;" alt="Compressed Image">

        <h3>Download Compressed Image:</h3>
        <a href="{{ url_for('download_image', filename=download_filename) }}" ><button  type="button" class="btn">Download Image</button></a>
    </div>
    {% endif %}
</div>

<!-- JavaScript to update the file name after selecting a file -->
<script>
    document.getElementById('file-input').addEventListener('change', function() {
        const fileNameText = document.getElementById('file-name-text');
        const fileInput = document.getElementById('file-input');
        
        if (fileInput.files.length > 0) {
            fileNameText.textContent = `Selected file: ${fileInput.files[0].name}`;
        } else {
            fileNameText.textContent = 'Click to upload an image';
        }
    });
</script>

</body>
</html>
