<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rotate Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
</head>
<body>
<!-- Navbar -->
<div class="navbar">
    <img src="{{ url_for('static', filename='images/logo.jpeg') }}" alt="Logo" class="logo">
    <ul>
        <li><a href="{{ url_for('home') }}" class="{{ 'active' if active_page == 'home' else '' }}">Resize Image</a></li>
        <li><a href="{{ url_for('crop_image') }}" class="{{ 'active' if active_page == 'crop_image' else '' }}">Crop Image</a></li>
        <li><a href="{{ url_for('image_compress') }}" class="{{ 'active' if active_page == 'image_compress' else '' }}">Image Compressor</a></li>
        <li><a href="{{ url_for('rotate_image') }}" class="{{ 'active' if active_page == 'rotate_image' else '' }}">Rotate Image</a></li>
    </ul>
</div>
<div class="container">
    <h1>Rotate Image</h1>
    <form action="/rotate_image" method="POST" enctype="multipart/form-data">
        <div class="upload-box" onclick="document.getElementById('file-input').click();">
            <input type="file" id="file-input" name="image" accept="image/*" required style="display:none;">
            <p id="file-name-text">Click to upload an image</p> <!-- Default text to click -->
        </div>
        <div class="size-inputs">
            <label for="angle">Enter rotation angle (degrees):</label>
            <input type="number" id="angle" name="angle" required><br>
        </div>
        <button type="submit">Rotate Image</button>
    </form>

    <!-- Conditional display based on the existence of a rotated image -->
    {% if image_url %}
    <div class="image-display">
        <h2>Rotated Image:</h2>
        <img src="{{ image_url }}" alt="Rotated Image">

        <h3>Download Rotated Image:</h3>
        <a href="{{ url_for('download_image', filename=download_filename) }}" class="btn"><button  type="button" class="btn">Download Image</button></a>
    </div>
    </div>
    {% endif %}
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
